{#
/**
 * @file
 * NC Base Theme implementation to display an Event node using block_feature
 * view mode.
 */#}
<div id="node-{{ node.id }}" class="{{ classes }} clearfix"{{ attributes }}>
  <div class="content clearfix"{{ content_attributes }}>
    {{ content }}
  </div>
</div>
